@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    font-family: "Outfit", sans-serif;
    overscroll-behavior-y: none;
    -webkit-tap-highlight-color: transparent;
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100;
  }
}

@utility no-scrollbar {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility no-spinner {
  -moz-appearance: textfield;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@theme {
  /* Colors */
  --color-primary: #6366f1;
  --color-background-light: #f3f4f6;
  --color-background-dark: #111827;
  --color-card-light: #ffffff;
  --color-card-dark: #1f2937;
  --color-text-primary-light: #1f2937;
  --color-text-primary-dark: #f9fafb;
  --color-text-secondary-light: #6b7280;
  --color-text-secondary-dark: #9ca3af;

  /* Typography */
  --font-display: "Inter", "sans-serif";

  /* Border Radius */
  --radius-default: 0.75rem;
}
